/** New Pallete
Palette: https://coolors.co/palette/c9cba3-ffe1a8-e26d5c-723d46-472d30
Sage: #C9CBA3
Peach Yellow: #FFE1A8
Bittersweet: #E26D5C
Wine: #723D46
Van Dyke: #472D30
*/

body {
    margin: 0;
    text-align: center;
    color: #472D30;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
}

img {
    width: 420px;
}

/*using background image for project personal/educational only: https://best-wallpaper.net/Portugal-Porto-river-bridge-city-morning_wallpapers.html */
.hero-section {
    max-width: 100%;
    padding: 150px 0;
    background-image: url("images/porto-city.jpg");
    background-size: cover;
    color:#FFE1A8;
    border-bottom: 2px solid #723D46;
    text-shadow: 3px 3px 6px #472D30;
}

.activities-section {
    max-width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
    text-align: center;
    background-color: #C9CBA3;
    border-bottom: 2px solid #723D46 ;
}

.activities{
    display: flex;
}

.tower, .lello, .beach  {
    padding: 10px;
}

#tower, #lello, #beach {
    max-width: 100%;
    border: 1px solid #472D30;
    border-radius: 50%;
    box-shadow: 1px 5px 10px #723D46;
}

.extra-section {
    background-color:#FEFAE0;
    border-bottom: 2px solid #723D46 ;
}

.festival {
    display: flex;
    align-items: center;
}

.sports {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

#popular {
    width: 50%;
    box-shadow: 5px 5px 10px #723D46;
}

#sport {
    width: 50%;
    box-shadow: -5px -5px 10px #723D46;
}

.text-festival, .text-sports {
    padding: 0 5px;
}

a {
    color: #472D30;
}

.guide-section {
    margin: 60px auto;
    max-width: 100%;
    width: 400px;
    padding-top: 20px;
    padding-left: 30px;
    padding-right: 20px;
    padding-bottom: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 2px solid #723D46;
    border-bottom: 6px solid #772f1a;
    border-radius: 10px;
    background: linear-gradient(#FFE1A8, #C9CBA3);
}

.guide-section:hover{
    background: #723D46;
    color: #FFE1A8;
    border: 2px solid #C9CBA3;
    border-bottom: 6px solid #C9CBA3;
    border-radius: 10px;
}

#guide {
    width: 50%;  
    border: 1px solid #E26D5C;
    border-radius: 10px;
    box-shadow: 1px 5px 5px #723D46;
}

.text-guide {
    padding: 10px;
}

.word {
    font-style: italic;
}

#shadow{
    color:#FFE1A8;
    background-color: #723D46;
    border-radius: 5px;
}

#shadow:hover{
    color: #723D46;
    background-color: #FFE1A8;
    border-radius: 5px;
}

h1:hover, h2:hover {
    text-shadow: 3px 3px 6px #472D30;
}